/* применяемае цвета */
/*  ffffff заголовок, кнопкка, часть лого, white*/
/* 212121 навигация и заголовки, графит */
/* 757575 текст, серый */
/* 2196F3 синий */
:root {
  --color-white: #ffffff;
  --color-graphite: #212121;
  --color-grey: #757575;
  --color-blue: #2196f3;
  --back-grey-blue: #f5f4fa;
  --footer-color: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* заливка фона */

.section.team {
  background-color: var(--back-grey-blue);
}

footer {
  background-color: var(--footer-color);
}

/* студия */
/* header */

.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--color-blue);
}

.logo-header {
  color: #000000;
}

.nav-list a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  color: var(--color-graphite);
}

.nav-contact a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--color-grey);
}

.nav-contact .link:hover,
.nav-contact .link:focus {
  color: var(--color-blue);
}

.link.current {
  color: var(--color-blue);
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--color-blue);
}

/* main */
/* hero */
.hero {
  background-color: var(--footer-color);
}

.hero-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: var(--color-white);
}

.hero .link {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-white);
  background-color: var(--color-blue);
}

.link.service:hover,
.link.service:focus {
  color: var(--color-blue);
  background-color: var(--color-white);
}

/* .advantages .title { */
/* display: none; */
/* } */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.advantages-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}

.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--color-grey);
}

.section .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  color: var(--color-graphite);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  color: var(--color-graphite);
}

.team-post {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--color-grey);
}

/* footer */
.adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--color-white);
}

.adress a {
  color: rgba(255, 255, 255, 0.6);
}

.logo-footer {
  color: var(--color-white);
}

.adress .link:hover {
  color: var(--color-blue);
}

/* портфолио */
/* main */

.button {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f5f4fa;
  color: var(--color-graphite);
  border: none;
}

.button:hover,
.button:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.project-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--color-graphite);
}

.project-list .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--color-grey);
}

/* .product .title-up { */
/* display: none; */
/* } */
